<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Details</title>
</head>
<body>
<div align="center">
    <h1>Edit Details</h1>
    <br />
    <form action="#" th:action="@{/doctor/save}" th:object="${doctor}"
          method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td>Medical Registration Number:</td>
                <td><input type="text" th:field="*{doctorID}" /></td>
            </tr>

            <tr>
                <td>Doctor Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>WhatsApp Number:</td>
                <td><input type="text" th:field="*{phone}" /></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" th:field="*{address}" /></td>
            </tr>
            <tr>
                <td>DutyDays:</td>
                <td><input type="text" th:field="*{dutydays}" /></td>
            </tr>
            <tr>
                <td>DutyTime:</td>
                <td><input type="text" th:field="*{dutytime}" /></td>
            </tr>
            <tr>
                <td>Speciality:</td>
                <td><input type="text" th:field="*{speciality}" /></td>
            </tr>
            <tr>
                <td>Symptoms:</td>
                <td><input type="text" th:field="*{symptoms}" /></td>
            </tr>
            <tr>
                <td>ConsultationFee:</td>
                <td><input type="text" th:field="*{consultationfee}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>